@model MoviePlace.Models.Receipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MTrailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MTrailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldCopies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldCopies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
